<md-content layout-padding>
    <span class="clickable md-title" ui-sref="gallery">Gallery</span>
        <div layout="row">
            <div layout="row" flex="50" flex-offset="25" layout-align="end center">
                <md-button class="md-icon-button" ng-click="vm.previousPage()" ng-disabled="vm.isFirstPage()" aria-label="previous-page">
                    <i class="mdi mdi-chevron-left"></i>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.toFirstPage()" ng-disabled="vm.isFirstPage()" aria-label="first-page">
                    <i class="mdi mdi-page-first"></i>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.nextPage()" ng-disabled="vm.isLastPage()" aria-label="next-page">
                    <i class="mdi mdi-chevron-right"></i>
                </md-button>
            </div>
        </div>
        <div layout="row">
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
                          md-row-height-gt-md="1:1" md-row-height="2:2"
                          md-gutter="12px" md-gutter-gt-sm="8px"
                          flex="50" flex-offset="25">
                <md-grid-tile ng-repeat="mi in vm.mediaItems" class="gallery-item clickable" ui-sref="media-item({id: mi.id})">
                    <md-grid-tile-header layout-align="end center" layout-padding>
                        <i class="mdi" ng-class="vm.getStatusIcon(mi.statusId)"></i>
                    </md-grid-tile-header>
                    <md-grid-tile-footer>
                        <h3>{{mi.title}}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </md-content>
